* {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  border: border-box;
}

.navbar {
  height: 60px;
  background-color: rgb(9, 8, 8);
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.nav-logos {
  height: 50px;
  width: 50px;
}

.logo {
  background-image: url("amazons.png");
  background-size: cover; /* Keep the image aspect ratio intact */
  height: 50px;
  width: 50px;
  margin-right: 40px;
  margin-left: 12px;
}

.border {
  border: 2px solid transparent;
}

.border:hover {
  border: 2px solid white;
}

.box1 {
  font-size: 10px;
  display: flex;
  margin-left: 19px;
}

.add-icon {
  display: flex;
  align-items: center;
  margin-left: 10px;
  margin-right: 5px;
}

.nav_address {
  align-items: center;
  margin-left: 21px;
}

.box2 {
  font-size: 12px;
  display: flex;
}

.nav_search {
  display: flex;
  margin-left: 40px;
  height: 29px;
}

.searchh {
  margin-left: 50px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  width: 100px; /* Adjust the size if needed */
  height: 100px; /* Ensure the height is sufficient to see the rounded corners */
  border: none;
}

.search {
  margin-right: 5px;
  transition: background-color 1s ease-in-out 1s; /* Specify the property for transition */
  width: 450px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

.check {
  margin-left: 5px;
  margin-right: 5px;
  transition: background-color 1s ease-in-out 1s; /* Specify the property for transition */
  height: 29px;
}

.check:hover {
  background-color: orange;
}

/* box four */
.nav-signin {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

span {
  font-size: 0.7rem;
}
.nav-second {
  font-size: 0.8rem;
}

/* box five */
.returns {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#rtn {
  font-size: 0.7rem;
}

/* box six */

.cart {
  display: flex;
  flex-direction: row;
}

.carto {
  font-size: 22px;
  margin-right: 6px;
}

#carts {
  font-size: 13px;
  align-content: end;
  font-weight: bold;
}

/* panel 2   Starts form here*/
.panel2 {
  display: flex;
  flex-direction: row;
  background-color: rgb(28, 28, 28);
  height: 37px;
  font-size: 12px;
  color: white;
  align-items: center;
  justify-content: flex-start;
}

.all {
  margin-left: 5px;
}

.p2 {
  margin-left: 20px;
}

.hoverpanel:hover {
  color: orange;
}
